<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap Css -->
    <link
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
      href="/static/css/bootstrap.css"
    />
    <!-- Icons Css -->
    <link
      id="icons-style"
      rel="stylesheet"
      type="text/css"
      href="/static/css/icons.css"
    />
    <!-- App Css-->
    <link
      id="app-style"
      rel="stylesheet"
      type="text/css"
      href="/static/css/app.css"
    />
  </head>
  <body class="authentication-bg" style="overflow: hidden">
    <div class="account-pages my-5 pt-sm-5">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Welcome Back !</h5>
                                <p class="text-muted">Sign in to continue to Minible.</p>
                            </div>
                            <div class="p-2 mt-4">
                                <form id="post_login" method="POST" action="/login">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Email or Phone</label>
                                        <input type="text" class="form-control"
                                            name="username" value="" id="username"
                                            placeholder="Enter Email or Phone">
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="userpassword">Password</label>
                                        <input type="password" class="form-control"
                                            value="123456" name="password" id="userpassword" placeholder="Enter password">
                                    </div>

                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="auth-remember-check"
                                            name="remember">
                                        <label class="form-check-label" for="auth-remember-check">Remember me</label>
                                    </div>

                                    <div class="mt-3 text-end">
                                        <div class="btn btn-primary w-sm waves-effect waves-light" onclick="login()">Log
                                            In</div>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <div class="signin-other-title">
                                            <h5 class="font-size-14 mb-3 title">Sign in with</h5>
                                        </div>


                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a href="javascript:void()"
                                                    class="social-list-item bg-primary text-white border-primary">
                                                    <i class="mdi mdi-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:void()"
                                                    class="social-list-item bg-info text-white border-info">
                                                    <i class="mdi mdi-twitter"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript:void()"
                                                    class="social-list-item bg-danger text-white border-danger">
                                                    <i class="mdi mdi-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="mt-4 text-center">
                                        <p class="mb-0">Don't have an account ? <a href="#"
                                                class="fw-medium text-primary"> Signup now </a> </p>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="mt-5 text-center">
                        <p>© <script>
                                document.write(new Date().getFullYear())
                            </script> Minible. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- JAVASCRIPT -->
    <script src="/static/libs/jquery/jquery.min.js"></script>
    <script src="/static/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/static/libs/metismenu/metismenu.min.js"></script>
    <script src="/static/libs/simplebar/simplebar.min.js"></script>
    <script src="/static/libs/node-waves/node-waves.min.js"></script>
    <script src="/static/libs/waypoints/waypoints.min.js"></script>
    <script src="/static/libs/jquery-counterup/jquery-counterup.min.js"></script>

    <!-- App js -->
    <script src="/static/js/app.min.js"></script>
    <!-- Script js -->
    <script src="/static/js/script.js"></script>
    <script>
        $(document).ready(function () {
            let token = localStorage.getItem("access_token");
            console.log(token);
            if (token) {
                window.location.href = `/api/v1`;
            }
        });
    </script>
  </body>
</html>
